@import "tailwindcss";

@theme {
  --font-sans: 'Plus Jakarta Sans', sans-serif;
  --font-serif: 'Bitcount Prop Single', serif;
  --font-open-sans: 'Open Sans', sans-serif;
  --font-rubik: 'Rubik Spray Paint', cursive;
}
@custom-variant dark (&:where(.dark, .dark *)); 